* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #4b545f;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin: auto;
  width: 500px;
  height: 750px;
  background-color: rgb(223, 223, 223);

  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  background: linear-gradient(
    10deg,
    rgba(7, 0, 125, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(0, 70, 129, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.search-city-form {
  width: 100%;
  height: fit-content;
  padding: 15px;
}

.search-city-form > input {
  display: block;
  margin: auto;
  width: 10%;
  height: 35px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px black;
  text-align: center;
  font-size: 25px;
  transition: width 500ms ease-in-out;
}
.search-city-form > input:focus {
  border: none;
  outline: none;
}

.results {
  padding: 10px;
  text-align: center;
  font-size: 25px;
  overflow-y: auto;
  max-height: 400px;
  user-select: none;
}
.results > li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  box-shadow: 0px 0px 3px black;
  background-color: grey;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.city-name {
  display: flex;
  align-items: center;
  min-height: 35px;
}
.city-name-header {
  height: 35px;
  text-align: center;
  font-size: 30px;
}

.main-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.weather-icon {
  width: 150px;
}
.main-temp-container {
  width: 80%;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-temp {
  font-size: 80px;
}
.extra-weather {
  font-size: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.extra-weather-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hourly-container {
  width: 80%;
  margin-top: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

.hour {
  width: 80px;
  height: 120px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
