@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hide {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #4b545f;
  font-family: 'Poppins', sans-serif;
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  margin: auto;
  width: 500px;
  height: 750px;
  background-color: rgb(223, 223, 223);

  border-radius: 15px;
  box-shadow: 0px 0px 5px black;

  background: linear-gradient(
    12deg,
    rgba(249, 249, 249, 1) 10%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.search-city-form {
  width: 100%;
  height: fit-content;
  padding: 15px;
}

.search-city-form > input {
  display: block;
  margin: auto;
  width: 10%;
  height: 35px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 0px 5px black;
  text-align: center;
  font-size: 25px;
  transition: width 500ms ease-in-out;
}
.search-city-form > input:focus {
  border: none;
  outline: none;
}

.results {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 450px;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  overflow-y: auto;
  max-height: 400px;
  user-select: none;
}
.results > li {
  text-decoration: none;
  list-style: none;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  cursor: pointer;
}
.results > li:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
}
.results > li:last-child {
  border-radius: 0px 0px 5px 5px;
}
.results > li:hover {
  background-color: rgb(0, 162, 162);
  color: white;
}
.city-name {
  display: flex;
  align-items: baseline;
  min-height: 35px;
}
.city-name-header {
  height: 35px;
  text-align: center;
  font-size: 30px;
}

.weather-description {
  margin-bottom: -25px;
  color: black;
  font-size: 30px;
  margin-top: 25px;
  font-weight: 300;
}

.main-weather {
  color: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.weather-icon {
  width: 250px;
}
.main-temp-container {
  margin: -25px;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-temp {
  font-size: 80px;
}
.extra-weather {
  font-size: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.extra-weather-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hourly-container {
  color: #eeeeee;
  width: 80%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}

.hour {
  width: 80px;
  height: 120px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  background-color: #4b545f;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* Loader style */
.lds-ring {
  /* display: none; */
  position: absolute;
  width: 80px;
  height: 80px;
  right: 0;
  left: 0;
  margin: auto;
  top: 200px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
